<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="MyCaptureMyLogAppender" />
    </root>
    <appender 
      name="MyCaptureMyLogAppender" 
      type="CaptureMyLog.log4net.CaptureMyLogAppender, CaptureMyLog.log4net">
      <threshold value="ALL" />
      <ApplicationKey value="3569e119-8946-4660-bf25-8261c38573ff" />
      <OwnerKey value="3569e119-8946-4660-bf25-8261c38573ff" />
      <DeviceKey value="Functional Test for CaptureMyLogAppender"/>
      <IsTakingPictureEnabled value="true"/>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>